#input-form{
	width:90%;
	display: grid;
	margin: 0.7vw auto;
	background-color:white;
	box-shadow:0px 0px 2px 0px #FF5722;
	border-radius:0.5vw;
}

.background{
	background-color: grey;
}

.transparent-back{
	background-color: transparent;
}

#form-heading{
	width:100%;
	grid-row:1;
}
#input-form label{
	display: flex;
	margin: 1vw;
}

#input-titles{
	flex-grow: 1;
}

#input-category{
	width:100%;
}

#textarea-descrp{
	margin:1vw;
	resize: none;
}

#input-form button{
	width:fit-content;
	margin:1vw;
	justify-self: right;
	background-color: transparent;
}

#input-form button:hover{
	background-color: orange;
}